@import url(https://fonts.googleapis.com/css?family=Russo+One:regular);

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';

  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'Muller', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}

.header {
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1050;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.header__container {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__tab {
  color: rgb(6, 6, 11);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
}

.header__tab:not(:last-child) {
  margin-right: 32px;
}

.header__tab.active {
  position: relative;
  bottom: -4px;
  border: 3px solid rgb(70, 244, 219);
  padding: 0 10px;
}

.header__wallet {
  padding: 17px 43px 17px 43px;
  border-radius: 77px;
  background: rgb(7, 6, 11);
}

.header__wallet-link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
}

.hero {
  position: relative;
  margin-top: 30px;
  width: 100%;
  max-height: 680px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(7, 6, 11);
}

.hero__group {
  padding: 160px 0;
}

.hero__group-text {
  width: 621px;
  height: 254px;
  color: rgb(255, 255, 255);
  font-family: 'Russo One', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 84px;
  text-align: left;
}

.hero__group-btns {
  display: flex;
  align-items: center;
}

.hero__group-btn {
  border-radius: 40px;
  padding: 25px 54px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.buy__btn {
  color: rgb(7, 6, 11);
  margin-right: 32px;
  background: linear-gradient(180.00deg, rgb(70, 244, 219) 27.083%, rgb(87, 210, 114) 100%);
}

.author__btn {
  color: rgb(255, 255, 255);
  border: 5px solid rgb(87, 210, 114);
}

.hero__image {
  margin-bottom: -10px;
}

.auction {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  z-index: 99;
  padding: 90px 0;
}

.auction__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.auction__container-live {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin-bottom: 90px;
}

.auction__header {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.auction__title {
  color: rgb(7, 6, 11);
  font-family: 'Russo One';
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  text-align: left;
  margin-right: 16px;
}

.live {
  position: relative;
  border: 2px solid rgb(209, 49, 48);
  border-radius: 40px;
  padding: 10px 15px 10px 26px;
}

.live__action {
  color: rgb(209, 49, 48);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
}

.live__action::after {
  content: '';
  width: 6px;
  height: 6px;
  background: rgb(209, 49, 48);
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 10%;
}

.desc__img {
  width: 460px;
  height: 460px;
  margin-right: 32px;
}

.auction__desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desc__container {
  display: flex;
  flex-direction: column;
}

.nickname {
  display: flex;
  align-items: center;
  max-width: 228px;
  padding: 11px 16px;
  border-radius: 23px;
  background: rgb(237, 237, 242);
  margin-bottom: 32px;
}

.nickname__avatar {
  width: 48px;
  height: 48px;
  background-size: contain;
  border-radius: 50%;
  margin-right: 16px;
}

.nickname__text {
  color: rgb(7, 6, 11);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.auction__name {
  color: rgb(7, 6, 11);
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  margin-bottom: 32px;
}

.rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.bet {
  display: flex;
  align-items: start;
  flex-direction: column;
  border-radius: 40px;
  background: rgb(237, 237, 242);
  padding: 32px 57px 32px 32px;
  margin-right: 32px;
}

.bet__title {
  color: rgb(7, 6, 11);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  margin-bottom: 16px;
}

.bet__rate {
  color: rgb(7, 6, 11);
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  margin-bottom: 6px;
}

.bet__price {
  color: rgb(149, 149, 157);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.count {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background: rgb(7, 6, 11);
  padding: 27px 32px;
}

.count__title {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timer__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clock__img {
  width: 121px;
  height: 121px;
  margin-left: 18px;
}

.timer__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 26px;
}

.timer__value {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  margin-bottom: 6px;
}

.timer__desc {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.bet__btn {
  max-width: 296px;
  border-radius: 40px;
  background: rgb(70, 244, 219);
  padding: 25px 0;
  color: rgb(7, 6, 11);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.other__auctions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.other__auction-header {
  margin-bottom: 32px;
}

.other__auction-title {
  color: rgb(7, 6, 11);
  font-family: 'Russo One';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.items__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1280px;
  gap: 32px;
  margin-bottom: 32px;
}

.auction__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 40px;
  background: rgb(7, 6, 11);
}

.item__top {
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  background: rgb(237, 237, 242);
}

.item__img {
  width: 160px;
  height: 160px;
  padding: 7px 68px;
}

.item__bottom {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: auto;
  padding: 16px 16px 32px 16px;
}

.item__nickname {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.item__avatar {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
}

.item__nickname-text {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}

.item__name {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  margin-bottom: 12px;
}

.item__rate {
  color: rgb(70, 244, 219);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  margin-bottom: 12px;
}

.item__timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__timer-value,
.item__timer-desc {
  color: rgb(149, 149, 157);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  margin-right: 5px;
}

.other__auction-button {
  width: 296px;
  border: 5px solid rgb(70, 244, 219);
  border-radius: 40px;
  color: rgb(7, 6, 11);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  padding: 25px 54px;
}

.new__stickers-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(7, 6, 11);
}

.new__stickers-slider {
  max-width: 1920px;
  padding: 90px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.new__stickers-title {
  color: rgb(255, 255, 255);
  font-family: 'Russo One';
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  text-align: left;
  margin-bottom: 32px;
}

.new__stickers-title--img {
  overflow: hidden;
  margin-right: 16px;
}

.new__stickers-slider--container {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.new__stickers-slide {
  margin-bottom: 64px;
}

.image-wrapper {
  display: flex;
}

.new__stickers-slide--image {
  margin-right: 28px;
}

.tabs {
  width: 284px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab {
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  border: 2px solid rgb(209, 49, 48);
  border-radius: 40px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
}

.active {
  background: rgb(209, 49, 48);
}

.new__stickers-form {}